<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/Conf/Log4Net.xml"/>
      </factoryAdapter>
    </logging>
  </common>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到
 主机的 app.config 文件中。System.Configuration 不支持库的配置文件。 -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="TTSClientWcfSvc.ReceiveSvcBehavior"
        name="TTSClientWcfSvc.ReceiveSvc">
        <endpoint address="" binding="basicHttpBinding" contract="TTSClientWcfSvc.IReceiveSvc">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8377/ReceiveSvc.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TTSClientWcfSvc.ReceiveSvcBehavior">
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前
            设置为 false 可避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <appSettings>
    <add key="TTSUrlBase" value="http://172.16.7.77:10094/Speak.aspx"/>
    <add key="TTSDisplayConfig" value="~/conf/display_conf.xml"/>
    <add key="DefDisplayConfigFile" value="~/conf/def_display_config.xml"/>
    <add key="RunConfigFile" value="~/conf/run_config.xml"/>
    <add key="ProcessMsgHandler" value=""/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="TTSApp;Display;" />
    </assemblyBinding>
  </runtime>

</configuration>